mixin words(word)
    a(href=`/words/${word.id}`)=word.title
    div 
        span=word.pronun
        ol 
            each _word in word.mean
                li=_word
        span=word.example
        br
        span=word.createdAt.toLocaleString()
        br
        span=word.from