mixin words(word)
    div.wordContainer
        div.wordTP
            a.wordTitle(href=`/words/${word.id}`)=word.title
            if word.pronun
                span.wordPronun [ #{word.pronun} ]
        div.wordBox 
            div.wordMean
                span 의미:
                span #{word.mean[0]}
                //- ol 
                //-     each _mean in word.mean
                //-         li=_mean 
            div.wordExample
                span 예문:
                span #{word.example[0]} 
        div.wordInfor                
            span 출처: #{word.from}
            span
                a(href=`/words/${word.id}`) 자세히 보기 &rarr;
            