mixin words(word)
    a(href=`/words/${word.id}`)=word.title
    div 
        if word.pronun
            span 발음: #{word.pronun}
        br
        span 의미:
        ol 
            each _mean in word.mean
                li=_mean 
        br
        span 예문:
        span #{word.example[0]} 
        a(href=`/words/${word.id}`) &rarr;
        br