extends base

block content
    div.detailTP
        h1.detailTitle #{words.title}
        if words.pronun
            span.detailPronun [#{words.pronun}]       
    div.meanSet
        span.detailMean 뜻:
        ol 
            each _mean in words.mean
                li=_mean 
    div.exampleSet
        span 예문:
        ol 
            each _example in words.example
                li=_example 
    div.detailInfor  
        if words.from              
            span 출처: #{words.from}
        span 작성자: #{words.owner.username}
    if loggedIn     
        if String(words.owner.id) === String(loggedInUser._id)
            div.detailBtn
                a(href=`${words.id}/edit`) 
                    button 수정하기 &rarr;
                a(href=`${words.id}/delete`) 
                    button 삭제하기 &rarr;