extends base

block content
    h1 #{words.title}
    if words.pronun
        span 발음: #{words.pronun}
    br
    ul 
        each _mean in words.mean
            li=_mean 
    br
    span 예문: #{words.example}
    br
    a(href=`${words.id}/edit`) 수정하기 &rarr;