extends base

block content
    h1 #{words.title}
    if words.pronun
        span 발음: #{words.pronun}
    br
    span 의미:
    ul 
        each _mean in words.mean
            li=_mean 
    br
    span 예문: #{words.example}
    br
    span 출처: #{words.from}
    br
    span 작성자: #{words.owner.username}
    br
    if String(words.owner.id) === String(loggedInUser._id)
        a(href=`${words.id}/edit`) 수정하기 &rarr;
        br
        a(href=`${words.id}/delete`) 삭제하기 &rarr;