extends base

block content
    form(method="POST")
        select(name="language")
            option(value="kj") Korean → Japanese
            option(value="ke") Korean → English
            option(value="jk") Japanese → Korean
            option(value="je") Japanese → English
            option(value="ek") English → Korean 
            option(value="ej") English → Japanese 
        input(placeholder="단어를 입력하세요.", name="title", value=words.title, required)
        input(placeholder="발음을 입력하세요.", name="pronun", value=words.pronun)
        input(placeholder="뜻을 입력하세요.", name="mean", value=words.mean.join(), required)
        textarea(placeholder="예문을 입력하세요." name="example", cols="30", rows="10")=words.example
        input(placeholder="출처", name="from", value=words.from)
        input(type="submit", value="수정")